*{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color:rgb(245,245,245);
}
.main{
    width: 1226px;
    margin: 0 auto;
    background-color: white;
}
.header{
    height: 100px;
    border-bottom: 2px solid rgb(255,103,0);
    background-color: white;
}
.head-log{
    width: 48px;
    height: 72px;
    background-color: rgb(255,103,0);
    overflow: hidden;
    float: left;
   
}
.head-midden {
    float: left;
    margin-top: 24px;
}
.head-midden>h2{
    font-size: 28px;
    color: #424242;
    float: left;
    font-weight: 400;
    margin-left: 48px;
}
.head-midden>p{
    float: left;
    color: rgb(117, 117, 117);
    margin-top: 18px;
    margin-left: 10px;
}
.header-right{
    float: right;
    margin-top: 40px;
    color: rgb(117, 117, 117);
}
.header-right>span:hover{
    cursor: pointer;
    color: rgb(255,103,0);
}
.hhh{
     background-color: white;
     height: 24px;  
   }
.hc{
    margin-top: 40px;
}

/* 表头开始 */
.list-head{
  height: 70px;
}
.list-head>ul{
    width: 100%;
    height: 100%; 
    /* border-bottom: 2px solid  rgb(224,224,224);   */
}
.list-head>ul>li{
    float: left;
    line-height:70px;
    height: 70px;
    font-size: 14px;
}
.list-head>ul>li:nth-child(1){
   width: 110px;
}
.list-head>ul>li:nth-child(1)>input{
    margin-left: 20px;
    width: 20px;
    height: 20px;
    
    
}


.list-head>ul>li:nth-child(2){
    width: 120px;
}
.list-head>ul>li:nth-child(3){
    width: 380px;
}
.list-head>ul>li:nth-child(4){
    width: 158px;
    text-align: center;
}
.list-head>ul>li:nth-child(5){
    width: 150px;
    text-align: center;
}
.list-head>ul>li:nth-child(6){
    width: 200px;
    text-align: center;
}

/* 
   表头结束
   表体开始
*/

.list-list{
    height: 117px;
}
.list-list>ul{
    width: 100%;
    height: 100%; 
    border-top: 2px solid  rgb(224,224,224);  
}

.list-list>ul>li{
    float: left;
    line-height:70px;
    height: 70px;
    font-size: 14px;
}
.list-list>ul>li:nth-child(1){
   width: 110px;
}
.list-list>ul>li:nth-child(1)>input{
    margin-left: 20px;
    width: 20px;
    height: 20px;
    margin-top: 44px;
    
}


.list-list>ul>li:nth-child(2){
    width: 120px;
}
.list-list>ul>li:nth-child(2) img{
    margin-top: 20px;
}
.list-list>ul>li:nth-child(3){
    width: 380px;
}
.list-list>ul>li:nth-child(3)>p{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(66,66,66);
}
.list-list>ul>li:nth-child(4){
    width: 158px;
    text-align: center;
}
.list-list>ul>li:nth-child(4)>p{
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}
.list-list>ul>li:nth-child(5){
    width: 150px;
    text-align: center;
}
.list-list>ul>li:nth-child(6){
    width: 200px;
    text-align: center;
}
.jsx{
    width: 150px;
    height: 40px;
    border: 1px solid rgb(224,224,224);
    line-height: 40px;
    margin-top: 40px;
}
.jsx>input{
    width: 72px;
    height: 38px;
    float: left;
    border: none;
    text-align: center;
}
.jsx>button{
    background-color: white;
    border: none;
}
.jsx>button:hover{
    background-color: rgb(224,224,224);
}
.jsx>button:nth-of-type(1){
    width: 38px;
    height: 38px;
    float: left;
    font-size: 20px;
}
.jsx>button:nth-of-type(2){
    width: 38px;
    float: left;
    height: 38px;
    font-size: 20px;
}
.list-list>ul>li:nth-child(6)>span{
    color: rgb(255,103,0);
    font-size: 16px;
    display: block;
    margin-top: 20px;
}
.list-list>ul>li:nth-child(7)>div{
   width: 16px;
   height: 16px;
   margin-top: 50px;
   
   line-height: 16px;
   text-align: center;
}
.list-list>ul>li:nth-child(7)>div:hover{
    cursor: pointer;
    background-color: rgb(255,103,0);
    border-radius: 50%;
}

/* 表体结束
   表底开始
*/
.hd{
    margin-top: 30px;
}
.list-bottom{
    height: 50px;
}

.section-left{
    width: 320px;
    float: left;
}

.section-left>span{
  display: inline-block;
  width: 90px;
  text-align: center;
  line-height: 50px;
}
.section-left>span:nth-child(2){
    width: 170px;
}
.section-left>span:nth-child(2) b{
    color: rgb(255,103,0);
}

.section-right{
    float: right;
   
}
.section-right>button{
    width: 202px;
    height: 50px;
    border: none;
    background-color: rgb(255,103,0);
    color: white;
    font-size: 18px;
    float: right;
}
.section-right1{
    float: right;
    width: 200px;
    text-align: center;
    font-size: 14px;
    color: rgb(255,103,0);
    line-height: 50px;

}
.section-right1>span{
    font-size: 30px;
}
.xi-mian{
   margin: 0 auto;
   width: 1226px;  
}
.xi-mian>p{
    text-align: center;
    font-size: 30px;
    width: 482px;
    margin: 40px auto 30px;
    color: rgb(117, 117, 117);
   
}

.flex1{
    display:flex;
    flex-wrap: wrap;    
    justify-content: space-around;
   
   height: 620px;
    
}
.flex2{
    width: 234px;
    height: 300px;
    background-color: white;
     
}

.flex2>img{
    margin-top: 40px;
    margin-left: 40px;
    width: 140px;
    height: 140px;
}
.flex2>p{
    text-align: center;
}

.flex2>p:nth-of-type(1){
    margin-top: 30px;
    color: #333;
    font-size: 14px;

}

.flex2>p:nth-of-type(2){
    color: rgb(255,103,0);
    margin-top: 10px;
}

.flex2>p:nth-of-type(3){
    color: rgb(117, 117, 117);
    margin-top: 14px;
    display: block;
}
.flex2 button{
    display: none;
    width: 122px;
    height: 30px;
    background-color: white;
    color: rgb(255,103,0);
    font-size: 12px;
     margin: 2px 56px;
     border:rgb(255,103,0) 1px solid;
}

.flex2 button:hover{
    /* display: none; */
    width: 122px;
    height: 30px;
    background-color: rgb(255,103,0);
    color: white;
    font-size: 12px;
     margin: 0 56px;
}

/* 尾部 */
.footer-top{
    height: 332px;
    background-color:white;
    margin-top: 10px;
   
   }
   .foot-head{
       display: flex;
       height: 76px;
       line-height: 76px;
       font-size: 20px;
       border-bottom: 1px solid rgb(75,75,75);
       text-align: center;
       
   }
   .flex-one{
       flex: 1;
       cursor: pointer;
      
   }
   .flex-one:hover{
       color: rgb(255,103,0);   
   }
   .foot-midden{
       height: 216px;
       margin-top: 36px;
   }
   .foot-midden dl{
       width: 160px;
       float: left;
       
   }
   .foot-midden dl dt{
       color: #424242;
       font-size: 14px;
       margin-bottom: 26px;
   
   }
   .foot-midden dl dd{
       cursor: pointer;
       font-size: 12px;
       margin-bottom: 16px;
       color: #333;
   }
   .foot-midden dl dd:hover{
       color: rgb(255,103,0);
   }
   .foot-right{
       float: left;
       width: 236px;
       text-align: center;
   }
   .foot-right p:nth-child(1){
       font-size: 22px;
       line-height: 1;
       color: #ff6700;
       margin-bottom: 10px;
    
   }
   .foot-right p:nth-child(2){
       color: #616161;
       font-size: 12px;
       margin-bottom: 10px;
   }
   .kefu{
       width: 120px;
       height: 30px;
       color: #ff6700;
       background-color: white;
       border: 1px solid #ff6700;
   
       
   }
   .res{
       position: relative;
   }
   .cmg{
       position: absolute;
       top: 30px;
      left: 60px;
   }
   .cmg img{  
       width: 106px;
       height: 106px;
   }
   
   .kefu:hover{
       color: white;
       background-color: #ff6700;
       cursor: pointer;
   
   }
   .ximain{
       width: 1226px;
       margin: 0 auto;
       overflow: hidden;
       
   }
   .logo-ir{
       display: block;
       width: 57px;
       height: 57px;
       margin-right: 10px;
       background: url(https://s02.mifile.cn/assets/static/image/logo-footer.png) no-repeat 50% 50%;
       margin-top: 24px;
       float: left; 
   }
   .info-text{
       float: left;margin-top: 24px;
       
   }
   
   .info-text p{
       font-size: 12px;
       cursor: pointer; 
       color: rgb(176,176,176);   
   }
   .info-text p:nth-child(1){
       color: rgb(117, 117, 117);
   }
   .info-text p:nth-child(2){
       color: rgb(117, 117, 117);
   }
   .info-text p:nth-child(6){
       margin-bottom: 10px;
   }
   .info-text>a>img  {
       height: 33px;
       width: 85px;
   
   }
   .slogan-ir{
       width: 1226px;
       margin-top: 30px;
       height: 50px;
       background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png) no-repeat center 0;
   }
   .info-text p:hover{
       color: rgb(255,103,0);
   }