*{
    padding: 0px;
    margin: 0px;
}

.warp{
    width: 854px;
    margin: 60px auto;
    background-color: white
}
.log{
    height: 49px;
    width: 49px;
    margin: 0 auto;
    background: url(https://account.xiaomi.com/static/res/349d9c1/account-static/respassport/acc-2014/img/milogo.png);
}
.titie{
    font-size: 30px;
    color: #333;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}
.warp p{
    width: 334px;
    margin: 26px auto 0px;
    color: #333;
}
.form1{
    width: 334px;
    margin:6px auto ;
}
.zhuce{
    width: 332px;
    height: 42px;
    border: 1px rgb(232, 232, 232) solid;
    line-height: 42px;

}
.form1>span{
    display: block;
    margin-top: 4px;
}
.sub{
    background-color: rgb(255,103,0);
    color: white;
}
.sub:hover{
    background-color: rgba(255,103,0,.6);
    cursor: pointer;
 
}
.warp-foot{
    text-align: center;
    margin-top: 60px;
    color: rgb(157,157,157);
   height: 50px;   
    
}
.warp-foot b{
    color: black;
}

.footer-top{
    margin: 0 auto;
    margin-top: 80px;
      height: 24px;
      width:  227px;
}

.footer-top>ul li{
float: left;
list-style: none  ;
text-align: center;
width: 56px;
font-size: 12px;
}
.footer-footer{
    margin-top: 20px;
    width: 100%;
  text-align: center;
  color: rgb(75,75,75);
}